@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url('./assets/v1016-b-09.jpg'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    width: 100vw;
    overflow-x: hidden;
}

*{
    font-family: "Lobster Two", sans-serif;
    color: whitesmoke;
}

.heading{
    font-size: 3.5rem;
    text-align: center;
    margin-top: 3rem;
}

.error{
    font-size: 7rem;
    text-align: center;
    margin-top: 7rem;
}

h3{
    font-size: 1.75rem;
    text-align: center;
    margin-top: 1rem;
}

.card{
    border-radius: 10px;
    padding: 2rem;
    margin: 2.5rem;
    width: 18rem;
    height: 18rem;
    border: 2px solid #3d2bbe;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1); 
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.card:hover{
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2), 
                0 0 15px rgba(0, 123, 255, 0.5); 
    transform: translateY(-5px);
}

.lineofbox{
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.details{
    font-size: 1.125rem;
    margin-top: 1rem;
}

.link{
    text-decoration: none;
}

.image-canvas{
    border: 2px solid #3d2bbe;
    border-radius: 5%;
    padding: 1rem;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
    width: 30rem;
    height: 20rem;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
}


.options{
    display: flex;
    justify-content: center;
    gap: 2.25rem;
    margin-top: 2rem;
}

.genbtn{
    margin: auto;
}

ul{
    margin: 0.5rem;
    list-style-type: circle;
    font-size: 1.125rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caption-canvas{
    margin: auto;
    margin-top: 2rem;
    padding: 1.5rem;
    width: 75%;
}


/* Footer CSS */

.footer {
    color: #fff; /* White text */
    text-align: center;
    padding: 20px;
    width: 100%;
}

.footer p {
    margin: 0 0 10px;
    font-size: 16px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 2rem; 
}

.social-links a {
    color: #fff;
    font-size: 24px; 
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
}

.social-links a:hover {
    transform: scale(1.2); 
}
